<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT umbBlog ANY>
<!ATTLIST umbBlog id ID #REQUIRED>
<!ELEMENT umbBlogPost ANY>
<!ATTLIST umbBlogPost id ID #REQUIRED>
<!ELEMENT DateFolder ANY>
<!ATTLIST DateFolder id ID #REQUIRED>
<!ELEMENT umbHomepage ANY>
<!ATTLIST umbHomepage id ID #REQUIRED>
<!ELEMENT umbNewsArea ANY>
<!ATTLIST umbNewsArea id ID #REQUIRED>
<!ELEMENT umbNewsArticle ANY>
<!ATTLIST umbNewsArticle id ID #REQUIRED>
<!ELEMENT umbTextpage ANY>
<!ATTLIST umbTextpage id ID #REQUIRED>
<!ELEMENT umediaSlider ANY>
<!ATTLIST umediaSlider id ID #REQUIRED>
<!ELEMENT umediaSliders ANY>
<!ATTLIST umediaSliders id ID #REQUIRED>

]>
<root id="-1">
  <umbHomepage id="1064" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-05-30T16:15:02" updateDate="2014-05-30T16:17:08" nodeName="Business Site" urlName="business-site" path="-1,1064" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="0" template="1049">
    <siteName>Business site</siteName>
    <siteDescription><![CDATA[Off to a great start]]></siteDescription>
    <bodyText><![CDATA[<p>The Simple Starter Kit gives you a bare-bones website that introduces you to a set of well-defined conventions for building an Umbraco website.</p>
<p>The Simple website is very basic in form and provided without any design or functionality - unless you add a Skin, of course. By installing the Simple Starter Kit, you'll begin with a minimal site built on best practices. You'll also enjoy the benefits of speaking the same "language" as the rest of the Umbraco community by using common properties and naming conventions.</p>
<p>Now that you know what the Simple site is, it is time to get started using Umbraco.</p>]]></bodyText>
    <umbNewsArea id="1065" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2014-05-30T16:15:03" updateDate="2014-05-30T16:15:05" nodeName="Company News" urlName="company-news" path="-1,1064,1065" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1051">
      <umbNewsArticle id="1066" parentID="1065" level="3" creatorID="0" sortOrder="0" createDate="2014-05-30T16:15:03" updateDate="2014-05-30T16:15:05" nodeName="Another record year" urlName="another-record-year" path="-1,1064,1065,1066" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="1052">
        <introduction><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id enim vel metus dignissim fermentum. Donec molestie pulvinar ultricies. Donec ullamcorper facilisis mattis. Sed id condimentum dui. Vivamus ornare congue facilisis. Nulla arcu lorem, sollicitudin at tincidunt nec, congue in dolor. Morbi mattis magna non risus convallis non dignissim sapien dictum.]]></introduction>
        <bodyText><![CDATA[
<p>Nam consectetur risus quis diam dignissim convallis. Donec
congue arcu at ligula venenatis facilisis. Donec tincidunt, augue
vel venenatis suscipit, ipsum orci pretium lacus, et tempor felis
nisi eu diam. Fusce vel turpis quis nisl viverra pharetra sit amet
et risus. Donec interdum ullamcorper sodales. Mauris feugiat velit
rhoncus sapien sagittis venenatis quis non purus. Cras ac arcu
velit.</p>

<p>Class aptent taciti sociosqu ad litora torquent per conubia
nostra, per inceptos himenaeos. Etiam non tortor nec risus laoreet
auctor. Mauris ipsum ligula, suscipit fermentum interdum id,
facilisis eu felis. Proin ut porttitor tortor. Proin quis pulvinar
urna. Nullam cursus feugiat feugiat. Praesent iaculis lacus at arcu
feugiat suscipit. Proin elementum tortor vitae massa euismod
tempus. Donec adipiscing nunc lacinia felis aliquam mattis. Ut
ipsum nisl, ultrices nec vehicula vel, blandit vel nibh. Nam augue
magna, sodales eu consectetur vestibulum, consequat in libero.
Nulla facilisi. Nunc id ligula urna. Sed tempus bibendum eros, a
posuere ante varius eu. Mauris quis neque nec felis laoreet
eleifend. Nullam bibendum molestie bibendum. Aenean vestibulum
sodales orci sed mollis.</p>

<p>Duis tempor scelerisque condimentum. Proin convallis placerat
odio, at dictum risus tempor id. Maecenas vel erat ac enim
convallis vehicula at et mi. Fusce ut faucibus odio. Vestibulum
pharetra mollis sem, at viverra nunc facilisis non. Vivamus
vulputate nibh et ligula dictum interdum. Aenean at libero et quam
ultricies dignissim in id tellus. Curabitur tincidunt nibh
ullamcorper ligula dapibus volutpat. Vestibulum neque augue,
blandit vitae ornare at, facilisis at sapien. Lorem ipsum dolor sit
amet, consectetur adipiscing elit. Curabitur non mollis lacus. Ut
sed pulvinar nulla.</p>
]]></bodyText>
      </umbNewsArticle>
      <umbNewsArticle id="1067" parentID="1065" level="3" creatorID="0" sortOrder="1" createDate="2014-05-30T16:15:03" updateDate="2014-05-30T16:15:05" nodeName="Finance department news" urlName="finance-department-news" path="-1,1064,1065,1067" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="1052">
        <introduction><![CDATA[Tortor vitae massa euismod tempus. Donec adipiscing nunc lacinia felis aliquam mattis. Ut ipsum nisl, ultrices nec vehicula vel, blandit vel nibh. Nam augue magna, sodales eu consectetur vestibulum, consequat in libero. Nulla facilisi. Nunc id ligula urna.]]></introduction>
        <bodyText><![CDATA[
<p>Class aptent taciti sociosqu ad litora torquent per conubia
nostra, per inceptos himenaeos. Etiam non tortor nec risus laoreet
auctor. Mauris ipsum ligula, suscipit fermentum interdum id,
facilisis eu felis. Proin ut porttitor tortor. Proin quis pulvinar
urna. Nullam cursus feugiat feugiat. Praesent iaculis lacus at arcu
feugiat suscipit. Proin elementum tortor vitae massa euismod
tempus. Donec adipiscing nunc lacinia felis aliquam mattis. Ut
ipsum nisl, ultrices nec vehicula vel, blandit vel nibh. Nam augue
magna, sodales eu consectetur vestibulum, consequat in libero.
Nulla facilisi. Nunc id ligula urna. Sed tempus bibendum eros, a
posuere ante varius eu. Mauris quis neque nec felis laoreet
eleifend. Nullam bibendum molestie bibendum. Aenean vestibulum
sodales orci sed mollis.</p>

<p>Duis tempor scelerisque condimentum. Proin convallis placerat
odio, at dictum risus tempor id. Maecenas vel erat ac enim
convallis vehicula at et mi. Fusce ut faucibus odio. Vestibulum
pharetra mollis sem, at viverra nunc facilisis non. Vivamus
vulputate nibh et ligula dictum interdum. Aenean at libero et quam
ultricies dignissim in id tellus. Curabitur tincidunt nibh
ullamcorper ligula dapibus volutpat. Vestibulum neque augue,
blandit vitae ornare at, facilisis at sapien. Lorem ipsum dolor sit
amet, consectetur adipiscing elit. Curabitur non mollis lacus. Ut
sed pulvinar nulla.</p>

<p>Pellentesque habitant morbi tristique senectus et netus et
malesuada fames ac turpis egestas. Nunc rhoncus neque pellentesque
urna sodales quis rutrum sapien consectetur. Nam consectetur semper
augue sit amet fringilla. Curabitur vel magna rhoncus ipsum
pharetra aliquet. Morbi et molestie justo. Fusce congue tellus
aliquam leo sollicitudin nec bibendum sapien egestas. Pellentesque
nec sapien enim. Phasellus justo leo, congue dapibus euismod id,
luctus ut ante. Curabitur justo metus, faucibus eget placerat sit
amet, fringilla eget urna. Aliquam a leo ipsum.</p>
]]></bodyText>
      </umbNewsArticle>
      <umbNewsArticle id="1068" parentID="1065" level="3" creatorID="0" sortOrder="2" createDate="2014-05-30T16:15:03" updateDate="2014-05-30T16:15:05" nodeName="Stocks are up" urlName="stocks-are-up" path="-1,1064,1065,1068" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="1052">
        <introduction><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc rhoncus neque pellentesque urna sodales quis rutrum sapien consectetur. Nam consectetur semper augue sit amet fringilla. Curabitur vel magna rhoncus ipsum pharetra aliquet.]]></introduction>
        <bodyText><![CDATA[
<p>Duis tempor scelerisque condimentum. Proin convallis placerat
odio, at dictum risus tempor id. Maecenas vel erat ac enim
convallis vehicula at et mi. Fusce ut faucibus odio. Vestibulum
pharetra mollis sem, at viverra nunc facilisis non. Vivamus
vulputate nibh et ligula dictum interdum. Aenean at libero et quam
ultricies dignissim in id tellus. Curabitur tincidunt nibh
ullamcorper ligula dapibus volutpat. Vestibulum neque augue,
blandit vitae ornare at, facilisis at sapien. Lorem ipsum dolor sit
amet, consectetur adipiscing elit. Curabitur non mollis lacus. Ut
sed pulvinar nulla.</p>

<p>Pellentesque habitant morbi tristique senectus et netus et
malesuada fames ac turpis egestas. Nunc rhoncus neque pellentesque
urna sodales quis rutrum sapien consectetur. Nam consectetur semper
augue sit amet fringilla. Curabitur vel magna rhoncus ipsum
pharetra aliquet. Morbi et molestie justo. Fusce congue tellus
aliquam leo sollicitudin nec bibendum sapien egestas. Pellentesque
nec sapien enim. Phasellus justo leo, congue dapibus euismod id,
luctus ut ante. Curabitur justo metus, faucibus eget placerat sit
amet, fringilla eget urna. Aliquam a leo ipsum.</p>

<p>In nec tristique odio. Proin fringilla lobortis neque sit amet
dapibus. Maecenas mollis tempor lacus, ac commodo sem condimentum
ac. Nulla facilisi. Duis eleifend placerat laoreet. In fringilla
accumsan leo a laoreet. Sed tincidunt nisl a risus blandit
pellentesque. Mauris in ante ac sapien semper sagittis. Etiam
luctus posuere pulvinar. Sed eros sem, sollicitudin a laoreet non,
ultrices nec nulla. Morbi tempus, nunc ac malesuada tempus, ipsum
neque sodales ipsum, et lacinia libero tellus a risus. Integer sit
amet purus nibh, in aliquam nisi. Curabitur non imperdiet libero.
Quisque magna massa, vestibulum vitae laoreet sit amet, luctus eu
elit. Nam eros mi, consectetur a eleifend sed, tincidunt id
odio.</p>
]]></bodyText>
      </umbNewsArticle>
    </umbNewsArea>
    <umbBlog id="1069" parentID="1064" level="2" creatorID="0" sortOrder="1" createDate="2014-05-30T16:15:03" updateDate="2014-05-30T16:15:05" nodeName="Company Blog" urlName="company-blog" path="-1,1064,1069" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="0" template="1050">
      <owner><![CDATA[0]]></owner>
      <bodyText><![CDATA[<?UMBRACO_MACRO macroAlias="BlogListPosts" />]]></bodyText>
      <siteName>
      </siteName>
      <siteDescription><![CDATA[ ]]></siteDescription>
      <blogroll>
        <links />
      </blogroll>
      <akismetAPIKey>
      </akismetAPIKey>
      <pingServices>
        <links />
      </pingServices>
      <umbBlogPost id="1070" parentID="1069" level="3" creatorID="0" sortOrder="0" createDate="2014-05-30T16:15:04" updateDate="2014-05-30T16:15:05" nodeName="Company blog post" urlName="company-blog-post" path="-1,1064,1069,1070" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="1047">
        <PostDate>2010-09-07T00:00:00</PostDate>
        <bodyText><![CDATA[
<p><strong>Hi there!</strong> , welcome to your new Umbraco powered
blog. Before you start posting away, there's a handful of things we
thought you should know:</p>

<ol>
<li>
<p>There is a comprehensive and detailed usage and configuration
manual, which covers everything about setting up this blog and
about blogging in general</p>

<p><strong><a
href="http://our.umbraco.org/FileDownload?id=498">Download the
usage guide</a></strong></p>
</li>

<li>
<p>This package is open source and developement is community
driven. So if you have an idea for improvement or wish to be a part
of developing this package you should join the conversaion.</p>

<p><a
href="http://our.umbraco.org/projects/blog-4-umbraco"><strong>Go to
the Blog 4 Umbraco project page on our.umbraco.org</strong></a></p>
</li>

<li>
<p>You can change the appearance of this blog by changing the skin
in the umbraco back-end. The skins are powered by the umbraco
community. If you wish to do your own skin or just want to tweak
the current one, you can find guidance in the skinners guide</p>

<p><strong><a
href="http://our.umbraco.org/FileDownload?id=498">Download the
skinners manual</a></strong></p>
</li>

<li>
<p>Chainging the skin is just the first step, everything is
extendable and hackable. This blog uses open standards and follows
umbraco best practices, so everything can be tweaked. Want to know
how to get started? Ask the friendly community at
our.umbraco.org</p>

<p><strong><a href="http://our.umbraco.org">Go to our.umbraco.org
community</a></strong></p>
</li>
</ol>
]]></bodyText>
        <tags><![CDATA[]]></tags>
        <closeComments>1</closeComments>
      </umbBlogPost>
    </umbBlog>
    <umbTextpage id="1071" parentID="1064" level="2" creatorID="0" sortOrder="2" createDate="2014-05-30T16:15:04" updateDate="2014-05-30T16:15:05" nodeName="About" urlName="about" path="-1,1064,1071" isDoc="" nodeType="1062" creatorName="admin" writerName="admin" writerID="0" template="1055">
      <umbracoNaviHide>
      </umbracoNaviHide>
      <bodyText><![CDATA[]]></bodyText>
      <umbTextpage id="1072" parentID="1071" level="3" creatorID="0" sortOrder="0" createDate="2014-05-30T16:15:04" updateDate="2014-05-30T16:15:05" nodeName="Installing runway modules" urlName="installing-runway-modules" path="-1,1064,1071,1072" isDoc="" nodeType="1062" creatorName="admin" writerName="admin" writerID="0" template="1055">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>Umbraco modules encapsulate specific bits of advanced functionality that are easily added to your website.</p>
<p>Once installed, Umbraco modules are open source and easy to customize if you want to modify the behavior for your specific needs.<br /> Because Umbraco modules are provided under the MIT license you are free to use and modify them any way you want, with no strings attached.</p>
<p>To add Umbraco modules to your website, go to the <strong>Settings</strong> section, expand the <strong>Templates</strong> item, select the <strong>Starterkit Master</strong> template, then click the <strong>Customize Skin</strong> button on the toolbar.</p>
<p>Umbraco modules are available for various kinds of navigation, a sitemap, social media feeds, and a contact form. The list of available Umbraco modules is growing rapidly and is automatically updated from a central source, always fresh and current.</p>
<p><a href="http://umbraco.org/get-started" title="Get Started with Umbraco">Get more information</a> about the umbraco way.</p>]]></bodyText>
      </umbTextpage>
      <umbTextpage id="1073" parentID="1071" level="3" creatorID="0" sortOrder="1" createDate="2014-05-30T16:15:04" updateDate="2014-05-30T16:15:05" nodeName="Go further" urlName="go-further" path="-1,1064,1071,1073" isDoc="" nodeType="1062" creatorName="admin" writerName="admin" writerID="0" template="1055">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>The Simple Starter Kit only scratches the surface of what's possible with Umbraco. Below the Simple Starter Kit and its modules lies a great architecture that lets you implement whatever you need.</p>
<p>With Umbraco you've finally got a solid, open and reliable platform for websites as basic as the Simple site, and Umbraco can be rapidly expanded to support multi-language websites, collaboration platforms and intra/extranets, to name just a few.</p>
<p>Advanced functionality is created with Umbraco macros, built with XSLT and Umbraco's award-winning .NET integration, including full support for any .NET User or Custom control. Create and integrate your own .NET macros in mere minutes with point and click simplicity. Simply copy your controls to the Umbraco website, go to the <strong>Developer</strong> section and create a new macro, selecting your control from the list.</p>
<p>You can also use <a href="http://umbraco.org/help-and-support/video-tutorials/getting-started/working-with-webmatrix" title="Working with Razor">Microsoft's Razor</a> syntax to quickly add dynamic functionality to your site.</p>
<p>We've also gathered the best community macros into a repository that's also accessed from the <strong>Developer</strong> section, in the <strong>Packages</strong> area. You can find more information <a href="http://umbraco.org/help-and-support/video-tutorials/introduction-to-umbraco/sitebuilder-introduction/what-are-macros" title="About creating Umbraco macros">about creating macros</a>, on the Umbraco website.</p>
<p>The sky is the limit with Umbraco, and you have the benefit a friendly community, training, and guaranteed support. Find out how to <a href="http://umbraco.org/help-and-support" title="Get Umbraco Support">get help</a>.</p>]]></bodyText>
      </umbTextpage>
      <umbTextpage id="1074" parentID="1071" level="3" creatorID="0" sortOrder="2" createDate="2014-05-30T16:15:04" updateDate="2014-05-30T16:15:05" nodeName="Getting started" urlName="getting-started" path="-1,1064,1071,1074" isDoc="" nodeType="1062" creatorName="admin" writerName="admin" writerID="0" template="1055">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>You've installed Umbraco and the basic Simple website.</p>
<p>Edit the text on the homepage and create a site structure by adding new texpages to your site. This is all done in the <strong>Content</strong> section.</p>
<p>If you find the editing options provided by the Simple site too limited for you needs, simply add more properties to the page by going to the <strong>Settings</strong> section, expanding the <strong>Document Types</strong> item and adding new properties on the <strong>Generic Properties</strong> tab. You can find more information about <a href="http://umbraco.org/help-and-support/video-tutorials/introduction-to-umbraco/sitebuilder-introduction/document-types" title="About Umbraco Document Types">document types and properties</a> at the <a href="http://umbraco.org" title="The Umbraco Website">Umbraco website</a>.</p>
<p>You'll probably want to personalize your site by changing the current design. This is also done in the <strong>Settings</strong> section, either by editing the CSS styles and HTML templates or by selecting and applying a Skin. Umbraco uses master templates, so the main, common markup is placed in the <strong>Starterkit Master</strong> template, while the Homeage and Textpage have separate templates for their unique layouts. You can find more information about <a href="http://umbraco.org/help-and-support/video-tutorials/introduction-to-umbraco/sitebuilder-introduction/templates" title="Umbraco Templates and Stylesheets">templates and css</a> in umbraco at the umbraco website.</p>
<p>Once you're happy with your site's design, you might want to add more functionality, such as automated navigation. This is done by <a href="http://umbraco.org/help-and-support/video-tutorials/getting-started" title="Umbraco Modules">installing Umbraco modules</a>.</p>]]></bodyText>
      </umbTextpage>
    </umbTextpage>
    <umbTextpage id="1075" parentID="1064" level="2" creatorID="0" sortOrder="3" createDate="2014-05-30T16:15:05" updateDate="2014-05-30T16:15:05" nodeName="Contact us" urlName="contact-us" path="-1,1064,1075" isDoc="" nodeType="1062" creatorName="admin" writerName="admin" writerID="0" template="1055">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h3>Office address</h3>
<p>Company Name<br />Streetname 3432<br />DK-9872 City Name</p>
<p>Country</p>
<p><strong>Phone</strong>: +45 3728-282-829</p>
<p><strong>Fax</strong>:  +45 3728-282-829</p>
<p> </p>
<h3>Send us an email</h3>
<p>This contact form sends email to the addresse configured on the macro itself, edit the page in umbraco to change the addresse</p>
<p>Also ensure that your smtp email settings are correct, these are set in the <strong>web.config </strong>file located in the root of your website.</p>
<?UMBRACO_MACRO subject="Email from your website" youremail="name@domain.com" macroAlias="RunwayContactForm" />]]></bodyText>
    </umbTextpage>
  </umbHomepage>
  <umediaSliders id="1079" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2014-05-30T16:15:43" updateDate="2014-05-30T16:16:47" nodeName="Frontpage Sliders" urlName="frontpage-sliders" path="-1,1079" isDoc="" nodeType="1077" creatorName="admin" writerName="admin" writerID="0" template="0">
    <umediaSlider id="1080" parentID="1079" level="2" creatorID="0" sortOrder="0" createDate="2014-05-30T16:15:43" updateDate="2014-05-30T16:16:47" nodeName="Hello everybody!" urlName="hello-everybody!" path="-1,1079,1080" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="0">
      <umbracoFile>/media/74/tmp_img.jpg</umbracoFile>
      <teaserText><![CDATA[
<p>Sed quia non numquam eius modi tempora incidunt ut labore et
dolore magnam aliquam quaerat voluptatem. Neque porro quisquam est,
qui dolorem ipsum quia dolor sit amet.</p>

<p><a href="#" class="ui-btn ui-btn-big">About us</a></p>
]]></teaserText>
      <link>
      </link>
    </umediaSlider>
    <umediaSlider id="1081" parentID="1079" level="2" creatorID="0" sortOrder="1" createDate="2014-05-30T16:15:44" updateDate="2014-05-30T16:16:47" nodeName="You can (of course) change these images!" urlName="you-can-(of-course)-change-these-images!" path="-1,1079,1081" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="0">
      <umbracoFile>/images/umedia_defaultimages/tmp_img2.jpg</umbracoFile>
      <teaserText><![CDATA[
<p>When you installed this skin, we added a new node to your
content area called "frontpage slider", go there to change the
image, text and link in this slider</p>

<p><a href="#" class="ui-btn ui-btn-big">What colors?</a></p>
]]></teaserText>
      <link>
      </link>
    </umediaSlider>
    <umediaSlider id="1082" parentID="1079" level="2" creatorID="0" sortOrder="2" createDate="2014-05-30T16:15:44" updateDate="2014-05-30T16:16:47" nodeName="And changing the colors is easy as well!" urlName="and-changing-the-colors-is-easy-as-well!" path="-1,1079,1082" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="0">
      <umbracoFile>/images/umedia_defaultimages/tmp_img.jpg</umbracoFile>
      <teaserText><![CDATA[
<p>Sed quia non numquam eius modi tempora incidunt ut labore et
dolore magnam aliquam quaerat voluptatem. Neque porro quisquam est,
qui dolorem ipsum quia dolor sit amet.</p>

<p><a href="#" class="ui-btn ui-btn-big">About us</a></p>
]]></teaserText>
      <link>
      </link>
    </umediaSlider>
    <umediaSlider id="1083" parentID="1079" level="2" creatorID="0" sortOrder="3" createDate="2014-05-30T16:15:44" updateDate="2014-05-30T16:16:48" nodeName="New to Umbraco?" urlName="new-to-umbraco" path="-1,1079,1083" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="0">
      <umbracoFile>/images/umedia_defaultimages/tmp_img2.jpg</umbracoFile>
      <teaserText><![CDATA[
<p>Well, you managed to install this skin, so you must have done
something right!<br />
<br />
 But still the umbraco developer site is the place to go for all
your Umbraco needs!</p>

<p><a href="#" class="ui-btn ui-btn-big">Visit Umbraco</a></p>
]]></teaserText>
      <link>
      </link>
    </umediaSlider>
  </umediaSliders>
</root>